*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font:400 15px/1.4 arial;
    padding: 10px;
}
.container{
    max-width: 1400px;
    margin-inline: auto;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}
