.MuiTextField-root {
    .MuiInputBase-input:not(textarea) {
        box-sizing: border-box;
        border-radius: 5px;
        background-color: $bgColor;
        padding: 20px 12px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }
}

.MuiDialog-paper {
    .MuiInputBase-root {
        margin-bottom: 15px;
    }

    .MuiDivider-root {
        margin: 0 0 15px;
        height: 2px;
        background-color: $iw5;
    }
}

// .MuiDialogActions-root {
//     border-top: 1px solid $d6;
// }

.MuiDialogTitle-root {
    border-bottom: 1px solid $d6;
}

.titleHolder,
.filterTopTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12px;

    h1 {
        color: $lb;
        font-size: 24px;
    }

    h3 {
        font-weight: 400;
        font-size: 17px;
    }
}

.titleHolder {
    align-items: center;

    .outline {
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #2593ec;
        padding: 5px;
    }

}

.filterTop {
    border: 1px solid $d6;
    padding: 10px;
    background-color: $de;
    margin-bottom: 10px;

    .filterTopForm {
        display: flex;
        gap: 15px;
    }

    .MuiInputBase-input {
        border: 1px solid $d6;
    }

}

button.MuiButtonBase-root:not(.MuiIconButton-root) {
    border: 1px solid #2593ec;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    background: #2593ec;

    .icon-plus {
        margin-right: 5px;
    }

    &.outline {
        background: #fff;
        color: #2593ec;
    }
}

.MuiMenu-paper {
    min-width: auto !important;
    max-width: 535px !important;
}

.icon-filter {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    background: url("../images/icons-sprite.png") -10px -10px;
}

.icon-up {
    width: 24px;
    height: 24px;
    background: url("../images/icons-sprite.png") -10px -46px;
}

.formcontrl {
    min-width: 120px !important;
}

.MuiDataGrid-row {
    .MuiDataGrid-cell {
        &:first-child {
            color: #2593ec;
        }

        // &:last-child {
        //     display: none !important;
        // }
    }
}

// .MuiDataGrid-root .MuiDataGrid-columnHeader--sortable {
//     max-width: initial !important;
//     flex: 1;
// }


.shift-wrap {
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 15px;

    input {
        max-width: 100%;
    }

    .supervisor-in {
        max-width: 100px;
    }

    .pos {
        max-width: 80px;
    }

    .shift-times,
    .meal-times {
        max-width: 150px;

        input {
            max-width: 98%;

            &+fieldset {
                max-width: 95%;
            }
        }
    }

    .MuiIconButton-root {
        padding: 9px 0;
    }

    .MuiInputBase-root {
        margin-bottom: 0;
    }

    .RDOs {
        min-width: 200px;

        input {
            height: 42px;
            width: 20px;
        }
    }

    .stagger {
        max-width: 130px;

        .MuiTextField-root .MuiInputBase-input {
            height: 40px;
            padding: 10px 8px;
        }
    }

    .remove {
        max-width: 24px;
    }
}

.MuiPaper-elevation1 {
    box-shadow: none !important;
}

.hr {
    border-bottom: 2px solid #000;
}

.mr-2 {
    margin-right: 10px !important;
}


.formcontrl {
    .MuiSelect-select {
        background: #fff !important;

        &:focus {
            background: #fff !important;

        }
    }
}

.filterTop {
    .MuiFormControl-root {
        * {
            color: #000 !important;
            outline: none !important;
        }
    }
}


.MuiSelect-outlined.MuiSelect-outlined {
    padding: 10px;
}

.MuiInputLabel-outlined:not(.MuiInputLabel-shrink) {
    transform: translate(14px, 12px) scale(1) !important;
}

.MuiSelect-select:focus {
    background: inherit !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #cbcdcf !important;
    border-width: 1px !important;
}

.MuiDialog-paperScrollPaper {
    min-height: calc(100% - 64px);
    margin: 0 !important;
}

.MuiChip-root {
    min-width: 100px;
    position: relative;
    color: #000 !important;
    margin: 0 10px 10px 0;
    font-size: 16px !important;
    padding-right: 25px !important;
    background-color: #65B3F2 !important;
    .MuiChip-deleteIcon {
        color: #000;
        position: absolute;
        right: 0;
    }
}

.MuiDialogContent-root {
    position: absolute;
    height: calc(100% - 110px);
    top: 60px;
    width: 100%;
}

.MuiDialogActions-root {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 24px !important;
    border-top: 2px solid #ccc;

    .outline {
        color: #2593ec;
        background-color: #fff;

        &.link-b {
            border: none !important;
            padding: 0 !important;
            line-height: 1 !important;
        }
    }

}

.add-shift {
    margin-bottom: 15px !important;
}


/* employee data */

.employee-table {
    width: 100%;
    border: 1px solid darkgray;

    tr {
        border-bottom: 1px solid #ccc;

        th {
            font-weight: bold;
            background-color: #E4E4E4;
        }

        >th,
        >td {
            padding: 10px;
            text-align: left;

            &.tc {
                text-align: center;
            }
        }
    }

    tbody {
        tr {
            &:last-child {
                border: none;
            }
        }
    }
}

.arr-d,
.danger-icon {
    margin-left: 5px;
    font-size: 20px;
}

.MuiMenu-paper{
    min-width: 120px !important;
    max-width: max-content !important;
}