.MuiPaper-root{
    &.MuiPaper-root{
        width: 100%;
    }
    .MuiDataGrid-columnHeaderWrapper{
        background-color: $de;
        font-weight: 700;
    }
    .MuiDataGrid-columnHeaderTitle{
        font-weight: 700;
        font-size: 14px;
    }
}