html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  *:focus, *:active {
    outline: none;
    border: none; }

html,
body {
  font-family: sans-serif; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.75em; }

select,
input {
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 3px;
  width: 100%; }

select {
  padding: 8px 4px; }

.prime-color {
  color: #2694EC; }

.danger {
  color: #C51E3A; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.d-b {
  display: block; }

.flex {
  display: flex; }

.wrap {
  flex-wrap: wrap; }

.fdc {
  flex-direction: column; }

.ac {
  align-items: center; }

.jc {
  justify-content: center; }

.jsb {
  justify-content: space-between; }

.pr {
  position: relative; }

.fc {
  display: flex;
  justify-content: center;
  align-items: center; }

.jcsa {
  justify-content: space-around; }

.f1 {
  flex: 1; }

.m-top-0 {
  margin-top: 0; }

.s-m {
  margin: 1rem 0; }

.tc {
  text-align: center; }

/**************************************media query mixins**************************************/
.full-scroll {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.error {
  color: var(--danger-color);
  font-size: 11px;
  margin-top: -5px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font: 400 15px/1.4 arial;
  padding: 10px; }

.container {
  max-width: 1400px;
  margin-inline: auto; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.MuiTextField-root .MuiInputBase-input:not(textarea) {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px 12px; }

.MuiTextField-root label {
  display: block;
  margin-bottom: 5px; }

.MuiDialog-paper .MuiInputBase-root {
  margin-bottom: 15px; }

.MuiDialog-paper .MuiDivider-root {
  margin: 0 0 15px;
  height: 2px;
  background-color: #505050; }

.MuiDialogTitle-root {
  border-bottom: 1px solid #cbcdcf; }

.titleHolder,
.filterTopTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 12px; }
  .titleHolder h1,
  .filterTopTitle h1 {
    color: #2593ec;
    font-size: 24px; }
  .titleHolder h3,
  .filterTopTitle h3 {
    font-weight: 400;
    font-size: 17px; }

.titleHolder {
  align-items: center; }
  .titleHolder .outline {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #2593ec;
    padding: 5px; }

.filterTop {
  border: 1px solid #cbcdcf;
  padding: 10px;
  background-color: #ededed;
  margin-bottom: 10px; }
  .filterTop .filterTopForm {
    display: flex;
    gap: 15px; }
  .filterTop .MuiInputBase-input {
    border: 1px solid #cbcdcf; }

button.MuiButtonBase-root:not(.MuiIconButton-root) {
  border: 1px solid #2593ec;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  background: #2593ec; }
  button.MuiButtonBase-root:not(.MuiIconButton-root) .icon-plus {
    margin-right: 5px; }
  button.MuiButtonBase-root:not(.MuiIconButton-root).outline {
    background: #fff;
    color: #2593ec; }

.MuiMenu-paper {
  min-width: auto !important;
  max-width: 535px !important; }

.icon-filter {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  background: url("../images/icons-sprite.png") -10px -10px; }

.icon-up {
  width: 24px;
  height: 24px;
  background: url("../images/icons-sprite.png") -10px -46px; }

.formcontrl {
  min-width: 120px !important; }

.MuiDataGrid-row .MuiDataGrid-cell:first-child {
  color: #2593ec; }

.shift-wrap {
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 15px; }
  .shift-wrap input {
    max-width: 100%; }
  .shift-wrap .supervisor-in {
    max-width: 100px; }
  .shift-wrap .pos {
    max-width: 80px; }
  .shift-wrap .shift-times,
  .shift-wrap .meal-times {
    max-width: 150px; }
    .shift-wrap .shift-times input,
    .shift-wrap .meal-times input {
      max-width: 98%; }
      .shift-wrap .shift-times input + fieldset,
      .shift-wrap .meal-times input + fieldset {
        max-width: 95%; }
  .shift-wrap .MuiIconButton-root {
    padding: 9px 0; }
  .shift-wrap .MuiInputBase-root {
    margin-bottom: 0; }
  .shift-wrap .RDOs {
    min-width: 200px; }
    .shift-wrap .RDOs input {
      height: 42px;
      width: 20px; }
  .shift-wrap .stagger {
    max-width: 130px; }
    .shift-wrap .stagger .MuiTextField-root .MuiInputBase-input {
      height: 40px;
      padding: 10px 8px; }
  .shift-wrap .remove {
    max-width: 24px; }

.MuiPaper-elevation1 {
  box-shadow: none !important; }

.hr {
  border-bottom: 2px solid #000; }

.mr-2 {
  margin-right: 10px !important; }

.formcontrl .MuiSelect-select {
  background: #fff !important; }
  .formcontrl .MuiSelect-select:focus {
    background: #fff !important; }

.filterTop .MuiFormControl-root * {
  color: #000 !important;
  outline: none !important; }

.MuiSelect-outlined.MuiSelect-outlined {
  padding: 10px; }

.MuiInputLabel-outlined:not(.MuiInputLabel-shrink) {
  transform: translate(14px, 12px) scale(1) !important; }

.MuiSelect-select:focus {
  background: inherit !important; }

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cbcdcf !important;
  border-width: 1px !important; }

.MuiDialog-paperScrollPaper {
  min-height: calc(100% - 64px);
  margin: 0 !important; }

.MuiChip-root {
  min-width: 100px;
  position: relative;
  color: #000 !important;
  margin: 0 10px 10px 0;
  font-size: 16px !important;
  padding-right: 25px !important;
  background-color: #65B3F2 !important; }
  .MuiChip-root .MuiChip-deleteIcon {
    color: #000;
    position: absolute;
    right: 0; }

.MuiDialogContent-root {
  position: absolute;
  height: calc(100% - 110px);
  top: 60px;
  width: 100%; }

.MuiDialogActions-root {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 24px !important;
  border-top: 2px solid #ccc; }
  .MuiDialogActions-root .outline {
    color: #2593ec;
    background-color: #fff; }
    .MuiDialogActions-root .outline.link-b {
      border: none !important;
      padding: 0 !important;
      line-height: 1 !important; }

.add-shift {
  margin-bottom: 15px !important; }

/* employee data */
.employee-table {
  width: 100%;
  border: 1px solid darkgray; }
  .employee-table tr {
    border-bottom: 1px solid #ccc; }
    .employee-table tr th {
      font-weight: bold;
      background-color: #E4E4E4; }
    .employee-table tr > th,
    .employee-table tr > td {
      padding: 10px;
      text-align: left; }
      .employee-table tr > th.tc,
      .employee-table tr > td.tc {
        text-align: center; }
  .employee-table tbody tr:last-child {
    border: none; }

.arr-d,
.danger-icon {
  margin-left: 5px;
  font-size: 20px; }

.MuiMenu-paper {
  min-width: 120px !important;
  max-width: max-content !important; }

.MuiPaper-root.MuiPaper-root {
  width: 100%; }

.MuiPaper-root .MuiDataGrid-columnHeaderWrapper {
  background-color: #ededed;
  font-weight: 700; }

.MuiPaper-root .MuiDataGrid-columnHeaderTitle {
  font-weight: 700;
  font-size: 14px; }
